/test/nbproject/private/
/test/build/
/test/dist/
/heap/nbproject/private/
/heap/build/
/BubbleSort/nbproject/private/
/bfs_tree/nbproject/private/
/bfs_tree/build/
/bfs_tree/dist/
/RegionSize/nbproject/private/
/RegionSize/build/
/anagram/nbproject/private/
/shop/nbproject/private/
/Birthday-Bar/nbproject/private/
/Birthday-Bar/build/
/Birthday-Bar/dist/
/divisible_sum_pairs/nbproject/private/
/divisible_sum_pairs/build/
/MigratoryBirds/nbproject/private/
/MigratoryBirds/build/
/day_of_the_programmer/nbproject/private/
/day_of_the_programmer/build/
/classInstance/nbproject/private/
/string-reduction/nbproject/private/
/string-reduction/build/
/odd_even_chars/nbproject/private/
/odd_even_chars/build/
/phonebook/nbproject/private/
/phonebook/build/