/test/nbproject/private/
/test/build/
/test/dist/
/heap/nbproject/private/
/heap/build/
/BubbleSort/nbproject/private/
/bfs_tree/nbproject/private/
/bfs_tree/build/
/bfs_tree/dist/
/RegionSize/nbproject/private/
/RegionSize/build/
/anagram/nbproject/private/
/shop/nbproject/private/